{% block html_head_container %}
    {% include 'header.twig' %}
{% endblock %}

<div class="Ta(c)">
	<p class="Fz(46px) C(#00b0b1) Mt(40vh) Mb(30vh)">{{ options.traduction_404_message }}</p>
</div>

{% block html_footer_container %}
    {% include 'footer.twig' %}
{% endblock %}
