<form class="navbar-form" role="search" method="get" id="searchform" action="{{site.url}}">
    <div class="form-group">
        <i data-target="search-icon" class=""></i>

        <!-- Mobile nav -->
        <input type="search" value="" name="s" id="s" data-target="search-input" class="" placeholder="Rechercher">
    </div>
</form>



